export ADMIN_PS="admin"
export PROJECT_NAME="pallospace"
export DB_NAME="pallospace"
export DB_USER="root"
export DB_PASSWORD="root"
export DB_HOST="host.docker.internal:3306"
export URL_PS="http://127.0.0.1:8080"