# Website conf
export PROJECT_NAME="PalloSpace"
export URL_PS="http://127.0.0.1:8080"
export FORCE_SSL_ADMIN=false

# Admin account
export WORDPRESS_ADMIN_USER="wpa"
export WORDPRESS_ADMIN_PASSWORD="admin"
export WORDPRESS_ADMIN_EMAIL="wpa@esnfrance.org"

# DB conf
export WORDPRESS_DB_NAME="pallospace"
export WORDPRESS_DB_USER="root"
export WORDPRESS_DB_PASSWORD="root"
export WORDPRESS_DB_HOST="host.docker.internal:3306"

# Plugins list & the theme
export WORDPRESS_PLUGINS_TO_INSTALL="wp-cfm authorizer"
export WORDPRESS_THEME_TO_INSTALL="twentytwentytwo" # Only 1 theme

# Debug cli
export WP_CLI_CACHE_DIR="/tmp"