!html/
html/*
!html/wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
html/wp-content/*
!html/wp-content/config/
!html/wp-content/mu-plugins/
#!html/wp-content/plugins/
#!html/wp-content/themes/

# ignore these plugins
html/wp-content/plugins/hello.php
html/wp-content/plugins/akismet/

# ignore specific themes
html/wp-content/themes/twenty*/

node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
